<h1 class="gradient-text">MEDIA</h1>

<form class="form-container">
    <mat-card>
        <mat-card-actions>
            <button mat-fab>+</button>
            <mat-label style="padding-left: 10px;">Upload New Media</mat-label>
        </mat-card-actions>
        <mat-card-header>
            <mat-card-title>
                Description
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Enter Text...</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                  <mat-card-header>
                      <mat-card-title>
                          Coin Value
                      </mat-card-title>
                      <img mat-card-sm-image src="/assets/CEFCoin.png" alt="CEF Coin" >
                  </mat-card-header>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input class="amount" matInput type="number" placeholder="0">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-card-actions align="end">
                      <button class="button" mat-raised-button>Submit</button>
                    </mat-card-actions>
              </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<div class="button-container">
    <mat-card>
        <div class="row text-center">
            <div class="col">
                <mat-card-actions>
                    <button class="button" mat-raised-button>Videos</button>
                  </mat-card-actions>
            </div>
            <div class="col">
                <mat-card-actions>
                    <button class="button" mat-raised-button>Photos</button>
                  </mat-card-actions>
            </div>
            <div class="col">
                <mat-card-actions>
                    <button class="button" mat-raised-button>Other</button>
                  </mat-card-actions>
            </div>
          </div>
    </mat-card>
</div>

<div class="video-container">
    <div class="row">
        <div class="card mb-3" style="max-width: 500px; margin-left: 25px;">
            <div class="row g-0">
              <div class="col-md-7">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Descriptive text appears here</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button mat-fab>-</button>
                    <mat-label style="padding-left: 10px;">Remove Media</mat-label>
                </div>
              </div>
            </div>
          </div>

        <div class="card mb-3" style="max-width: 500px; margin-left: 25px;">
            <div class="row g-0">
              <div class="col-md-7">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Descriptive text appears here</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button mat-fab>-</button>
                    <mat-label style="padding-left: 10px;">Remove Media</mat-label>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>

<div class="video-container">
    <div class="row">
        <div class="card mb-3" style="max-width: 500px; margin-left: 25px;">
            <div class="row g-0">
              <div class="col-md-7">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h5 class="card-title">Descriptive text appears here</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <button mat-fab>-</button>
                    <mat-label style="padding-left: 10px;">Remove Media</mat-label>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 500px; margin-left: 25px;">
            <div class="row g-0">
              <div class="col-md-7">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h5 class="card-title">Descriptive text appears here</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <button mat-fab>-</button>
                    <mat-label style="padding-left: 10px;">Remove Media</mat-label>
                </div>
              </div>
            </div>
          </div>
</div>