.full-width{
    width: 100%;
}

.form-container{
    margin: 25px 100px 15px 100px;
}

.mat-card{
    box-shadow: 0 .25rem .5rem #00080a;

    .mat-card-header{
        color: blue;
    }
}

.button-container{
    margin: 25px 100px 15px 100px;
}

.video-container{
    margin: 25px 100px 15px 100px;
}