.full-width{
    width: 100%;
}

.form-container{
    margin: 5px 100px 10px 100px;
}

.mat-card{
    box-shadow: 0 .25rem .5rem #00080a;

    .mat-card-header{
        color: blue;
    }
}

.button-container{
    margin: 25px 100px 50px 100px;
}

.form-button
{
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}